
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    width: 600px;
    align-self: center;
}

.image {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image .placeholder {
    width: 120px;
    height: 120px;
    background: lightgray;
    border-radius: 50%;
}
.image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.image .name {
    font-size: 18px;
    position: absolute;
    bottom: -20px;
    color: #00e7b0;
    background-color: #303030;
    padding: 7px 10px;
}

.descr {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    color: #bebebe;
}

.descr > * {
    margin: 3px 0;
    background-color: #1c1c1c;
    padding: 20px 15px;
}

.descr-block {
    margin: 0 10px;
}